.box1 {
    width: 100%;
    height: 60px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    justify-content: flex-end;
}
.icon-2 {
    margin-left: 15px;
}
.icon2-text {
    margin-right: 60px;
}
.box2 {
    width: 100%;
    height: 80px;
    background-color: rgb(133, 127, 127);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box2-text {
    font-family: 'rokkit', serif;
    display: flex;
    align-items: center;
    font-size: 20px;  
    margin-left: 50px;
}
.list-text {
}
.box1-li {
    margin: 40px;
}
.box1-ul {
    font-size: 20px;
    list-style: none;
    display: flex;
    align-items: stretch;
}
.box-3 {
    display: flex;
    justify-content: space-around;
}
.box3-text {
    width: 100px;
    font-size: 40px;
    margin-top: 150px;
}
.box3-image {
    width: 500px;
    height: 500px;
    margin-top: 120px;
}
.box-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-weight: 12px;
    margin-top: 100px;
    margin-top: 40px;
}
.pic1 {
    width: 300px;
    height: 400px;
    background-color:whitesmoke;
    margin-left: 50px;
}
.pic1-img {
    width: 200px;
    height: 200px;
    margin-left: 40px;
}
p{
    color: grey;
    font-style: italic;
}
.pic2-img {
    width: 200px;
    height: 200px;
    margin-left: 40px;
}
p{
    color: grey;
    font-style: italic;
}
.pic3-img {
    width: 200px;
    height: 200px;
    margin-left: 40px;
}
p{
    color: grey;
    font-style: italic;
}
.pic2 {
    width: 300px;
    height: 400px;
    background-color:whitesmoke;
    margin-left: 70px;
}
.pic3 {
    width: 300px;
    height: 400px;
    background-color:whitesmoke;
    margin-left: 70px;
}
.box-5 {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.box-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-weight: 12px;
    margin-top: 100px;
    margin-top: 40px;
}
.box7-main {
    height: 400px;
    background-image: linear-gradient(to bottom right,#999999 60%, #cc99ff 40%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box-7 {
    display: flex;
    flex-direction: column;
    align-content: stretch;
}
button {
    width: 120px;
    height: 50px;
    background-color: grey;
}
.box7-square {
    width: 250px;
    height: 300px;
    background-color:#d9d9d9;
    margin-left: 350px;
}
.box7-text {
    font-size: 30px;
    font-family: 'rokkit', serif;
    width: 200px;
}
.box7-icon-1 {
    margin-left: 10px;
}
.box7-icon-2 {
    margin-left: 10px;
}
.box-8 {
}
.box8-header {
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-family: 'rokkit', serif;
}
.box8-img {
    width: 1200px;
    height: 300px;
    background-image: url(https://i.pinimg.com/236x/f2/69/1c/f2691c8ae6b7e07b3c960bf58791e5fd.jpg);
    background-size: 400px;
    margin-left: 150px;
}
.box8-text {
    font-size: 45px;
    font-family: 'pacifico',cursive;
    text-align: center;
    color:rgb(91, 170, 91);
}
.box-9 {
}
.box9-text {
    font-size: 22px;
    font-family: 'rokkit', serif;
    margin-left: 50px;
    margin-top: 100px;
}
p {
    font-size: 22px;
    font-family: 'rokkit', serif; 
    margin-left: 10px;
}
input {
    width: 400px;
    height: 50px;
    background-color: #f2f2f2;
    margin-left: 10px;
}
#put {
    height: 90px;
}
form {
    width: 450px;
    height: 400px;
    background-color: #cccccc;
    margin-left: 800px;
}
.box-10 {
    height: 400px;
    background-color: grey;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}
.box10-pic1 {
    width: 200px;
    height: 200px;
    background-color: #cccccc;
    margin: 70px;
}
.box10-ul {
   
}
.box10-li {
    list-style: none;
    font-size: 17px;
    margin: 10px;
    font-family: 'rokkit',serif;
}
.box10-header {
    text-align: center;
}
.last-box {
    width: 100%;
    height: 100px;
    background-color: #cccccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box11-icon1 {
    margin-left: 22px;
}
.box11 {
    display: flex;
    align-items: stretch;
}
.box11-icon2 {
    margin: 3px;
}
.box11-icon3 {ss
    margin: 3px;
}
.box11-icon4 {
    margin: 3px;
}
.box11-first {
    font-family: 'rokkit',serif;
}
.box11-last {
    font-family: 'rokkit',serif;
}